In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
producao = [15000, 12000, 13000, 5000, 250]
tamanho = len(produtos)
for i in range(tamanho):
    print('{} unidades produzidas de {}' .format(producao[i], produtos[i]))

15000 unidades produzidas de coca
12000 unidades produzidas de pepsi
13000 unidades produzidas de guarana
5000 unidades produzidas de sprite
250 unidades produzidas de fanta

In [24]:
vendas = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
meta = 1000

qtde_bateu_meta = 0

for venda in vendas:
    if venda >= meta:
        print(venda)
        qtde_bateu_meta += 1
print(qtde_bateu_meta)

qtde_funcionarios = len(vendas)
print('O percentual de pessoas que bateram a meta foi {:.2%}'.format(qtde_bateu_meta / qtde_funcionarios))

1200
1500
1900
2750
1100
1111
6
O percentual de pessoas que bateram a meta foi 26.09%

In [33]:
estoque = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
produtos = ['coca', 'pepsi', 'guarana', 'skol', 'brahma', 'agua', 'del valle', 'dolly', 'red bull', 'cachaça', 'vinho tinto', 'vodka', 'vinho branco', 'tequila', 'champagne', 'gin', 'guaracamp', 'matte', 'leite de castanha', 'leite', 'jurupinga', 'sprite', 'fanta']
nivel_minimo = 50

for i, quantidade in enumerate(estoque):
    if quantidade < nivel_minimo:
        print('{} está abaixo do nível mínimo. Temos apenas {} unidades no estoque' .format(produtos[i], qy=))

dolly está abaixo do nível mínimo. Temos apenas 20 unidades no estoque
red bull está abaixo do nível mínimo. Temos apenas 23 unidades no estoque