In [18]:
venda = input('Registre um produto. Para calcular o registro de um novo produto, basta apertar enter com a caixa vazia')
vendas = []

while venda != '':
    vendas.append(venda)
    venda = input('Registe um produto. Para cancelar o registro de um novo produto, bastar apertar enter com a caixa vazia.')

print('Registro Finalizado. As vendas cadastradas foram {}.'.format(vendas))

Registre um produto. Para calcular o registro de um novo produto, basta apertar enter com a caixa vazia

Registro Finalizado. As vendas cadastradas foram [].

In [19]:
vendas = [941, 852, 783, 714, 697, 686, 685, 670, 631, 453, 386, 371, 294, 269, 259, 218, 208, 163, 125, 102, 87, 47, 7]
vendedores = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo', 'Adriana', 'Sandra', 'Luis']
meta = 50

In [20]:
i = 0
while vendas[i] > meta:
    print('{} bateu a meta. Vendas: {}' .format(vendedores[i], vendas[i]))
    i+=1

Maria bateu a meta. Vendas: 941
José bateu a meta. Vendas: 852
Antônio bateu a meta. Vendas: 783
João bateu a meta. Vendas: 714
Francisco bateu a meta. Vendas: 697
Ana bateu a meta. Vendas: 686
Luiz bateu a meta. Vendas: 685
Paulo bateu a meta. Vendas: 670
Carlos bateu a meta. Vendas: 631
Manoel bateu a meta. Vendas: 453
Pedro bateu a meta. Vendas: 386
Francisca bateu a meta. Vendas: 371
Marcos bateu a meta. Vendas: 294
Raimundo bateu a meta. Vendas: 269
Sebastião bateu a meta. Vendas: 259
Antônia bateu a meta. Vendas: 218
Marcelo bateu a meta. Vendas: 208
Jorge bateu a meta. Vendas: 163
Márcia bateu a meta. Vendas: 125
Geraldo bateu a meta. Vendas: 102
Adriana bateu a meta. Vendas: 87